<div class="header">
	<h1>Saint Mary's University of Minnesota Paintball Team</h1>
</div>
<br />
<div class="container">
	<body>
		<p><b>HOME OF THE SMU KIDS</b></p>
	</body>
</div>
<br />
<div class="footer">
	<ul class="nav pull-right">
		<li><%= link_to "tournaments", tournaments_path %></li>
		<li><%= link_to "players", users_path %></li>
	</ul>
</div>
