<div>
    <h1>Create Participant for the Tournament in <%= Tournament.find(@tournament.id).location %> on <%= Tournament.find(@tournament.id).date %></h1>
  </div>

<%= render 'form' %>

<%= link_to 'Finish adding participants', @tournament %>
