<h1>Listing All Gear</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>For Sale</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% User.all.each do |user| %>
<% user.gears.each do |gear| %>
  <tr>
    <td><%= gear.name %></td>
    <td><%= user.name %></td>
    <% if gear.for_sale %>
    <td>Yes</td>
    <td>$<%= gear.cost %></td>
    <% else %>
    <td>No</td>
    <td>N/A</td>
    <% end %>
    <td><%= link_to 'Destroy', user_gear_path(user, gear), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

